/node_modules/
/.next/
.DS_Store
npm-debug.log*
.env

# typescript
*.tsbuildinfo
next-env.d.ts

# Custom
/tests/documents
*.sql

# Playwright
/tests/.next/
/tests/report/
/tests/results/

# will be added later
/drizzle/

# VAT
*.xml
